body {
  background-color: lightgreen;
  text-align: center;
}
/* The animation code */
@keyframes example1 {
  from {background-color:darkgreen;}
  to {background-color:darkred; }
}
/* The element to apply the animation to */

body{
  animation-name: example1;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  padding: 20px;
  color: white;
}
#guacamole {
  width: 300px;
}
#connect4 {
  width: 300px;
}
ul.a {
  list-style-type: circle;
}
dt {
  font-weight: bolder;
  font-size: 20px;
}
