h1 {text-align: center;
    color: white;
    font-family: monospace;
}
/* The animation code */
@keyframes example1 {
  from {background-color:purple;}
  to {background-color:black; }
}
/* The element to apply the animation to */
body{
  animation-name: example1;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#sections {
  text-align: center;
  border: solid black 1px;
  background-color: grey;
  font-size: 20px;
  font-family: monospace;
}

#challenge.sectionbox {
  padding: 10px;
}

#challenge.special {
  background-color: orange;
  border: solid 1px black;
}


#problem.sectionbox {
  padding: 10px;
}

#problem.special {
  background-color: orange;
  border: solid 1px black;
}


#results.sectionbox {
  padding: 10px;
}

#results.special {
  background-color: orange;
  border: solid 1px black;
}
